.carousel {
    position: relative;
    width: 1500px;
    height: 1000px;

    margin: auto;
    overflow: hidden;

}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 1500px;      
    height: 1000px;    
    flex-shrink: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.slide.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
