.text-category {
    font-size: 1.5rem;
    color: #0A7075;
    margin-left: 0.5rem;
    font-weight: bold;
}

.recent-and-popular-container {
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}

.recent-animes-container {
    flex: 4;
}

.home-popular-animes-container {
    flex: 1;
}

.recent-animes-container {
    padding: 0;
}

.recent-animes-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, max-content));
    justify-content: center;
}

.recent-animes-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
    width: 320px;
}

#recent-category {
    margin-bottom: 8px;
}

.home-popular-animes-list li {
    margin: 0 0 1rem 0;
}

.loading-text {
    color: rgb(150, 150, 150);
}