.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #024340;

    z-index: 100;
}

.name-section {
    padding: 10px 40px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;

    flex: 1;
}

.hamburger {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-section {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0 40px 0 0;
}

.nav-section nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.nav-link {
    color: #031716;
    text-decoration: none;
    transition: color 0.1s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #6BA3BE;
}

/* Mobile Screen */
@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .nav-section.open, .nav-section.close {
        transition: opacity 0.3s ease;
        display: flex;
        position: absolute;
        top: 65px; 
        right: 5px;
        background-color: #024340;
        width: 20%;
        flex-direction: column;
        padding: 0;
        /* box-shadow: -2px 2px 5px rgba(136, 136, 136, 0.2); */
        border-radius: 12px;

        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
    }

    .nav-section.open {
        max-height: 500px;
    }

    .nav-section.close {
        max-height: 0;
    }

    .nav-section.open nav, .nav-section.close nav {
        width: 100%;
    }

    .nav-section.open nav ul, .nav-section.close nav ul {
        flex-direction: column;
        align-items: flex-end;

        overflow: hidden;
        margin: 10px 0 0 0;
        gap: 5px;

    }

    .nav-section.open nav ul li, .nav-section.close nav ul li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
        display: block;
        text-align: right;
        margin: 0;
        padding: 1rem;
        box-sizing: border-box;
    }

    .nav-section.open nav ul li:last-child, .nav-section.close nav ul li:last-child {
        border-bottom: none;
    }
}

/* Adjustments */

@media (max-width: 400px) {

    .header {
        height: 50px;
    }

    .hamburger {
        font-size: 30px;
    }

    .name-section {
        font-size: 27px;
    }
    .nav-link {
        font-size: 14px;
    }

    .nav-section.open, .nav-section.close {
        width: 30%;
    }

    .nav-section.open nav ul li, .nav-section.close nav ul li {
        padding-left: 5px;
        padding-right: 8px;
        padding-top: 3px;

    }
    .nav-section.open, .nav-section.close {
        width: 28%;
    }
}

@media (min-width: 400px) and (max-width: 450px) {
    .header {
        height: 50px;
    }

    .hamburger {
        font-size: 30px;
    }

    .name-section {
        font-size: 27px;
    }
    
    .nav-link {
        font-size: 15px;
    }

    .nav-section.open, .nav-section.close {
        width: 30%;
    }

    .nav-section.open nav ul li, .nav-section.close nav ul li {
        padding-left: 5px;
        padding-right: 8px;
        padding-top: 3px;

    }
    .nav-section.open, .nav-section.close {
        width: 25%;
    }
}

@media (min-width: 450px) and (max-width: 550px) {
    .nav-link {
        font-size: 15px;
    }

    .nav-section.open nav ul li, .nav-section.close nav ul li {
        padding-left: 5px;
        padding-right: 11px;
        padding-top: 3px;
    }

    .nav-section.open, .nav-section.close {
        width: 22%;
    }
}

@media (min-width: 550px) and (max-width: 600px) {
    .nav-link {
        font-size: 17px;
    }

    .nav-section.open nav ul li, .nav-section.close nav ul li {
        padding-right: 13px;
        padding-top: 9px;
    }

    .nav-section.open, .nav-section.close {
        width: 22%;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .nav-link {
        font-size: 19px;
    }
    .nav-section.open nav ul li, .nav-section.close nav ul li {
        padding-right: 13px;
        padding-top: 10px;
    }
    .nav-section.open, .nav-section.close {
        width: 21%;
    }
}

@media (min-width: 700px) and (max-width: 750px) {
    .nav-link {
        font-size: 20px
    }
}