.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #024340;

    z-index: 100;
}

.name-section {
    padding: 10px 40px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;

    flex: 1;
}

.search-section {
    flex: 4;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}

.search-section .search-container {
    width: 100%;
}

.search-section .search-input {
    font-size: 10px;
    padding: 10px 45px 10px 15px;
    font-size: 15px;
}


.nav-section {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    padding: 0 40px 0 0;
}

.nav-section nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.nav-link {
    color: #031716;
    text-decoration: none;
    transition: color 0.1s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #6BA3BE;
}