.top-anime-grid {
    margin: 0;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 equal columns */
    justify-content: space-evenly;
    gap: 10rem;
}
