.anime-trailer-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.anime-trailer-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.trailer-alt {
    font-size: 3rem;
    width: 95%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid #0a7075;
    color: #0a7075;
    border-radius: 12px;
    box-sizing: border-box;
}

.trailer-play-icon {
    width: 150px;
    height: 150px;
    color: #0A7075;
    margin-right: 1rem;
}

@media (min-width: 901px) and (max-width: 1100px) {
    .trailer-alt {
        font-size: 1.2rem;
    }

    .trailer-play-icon {
        width: 70px;
        height: 70px;
        margin-right: .5rem;
    }
}

@media (min-width: 1101px) and (max-width: 1300px) {
    .trailer-alt {
        font-size: 1.5rem;
    }

    .trailer-play-icon {
        width: 80px;
        height: 80px;
        margin-right: 1rem;
    }
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .trailer-alt {
        font-size: 2rem;
    }

    .trailer-play-icon {
        width: 100px;
        height: 100px;
        margin-right: 1rem;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    .trailer-alt {
        font-size: 2.2rem;
    }

    .trailer-play-icon {
        width: 120px;
        height: 120px;
        margin-right: 1rem;
    }

}

@media (min-width: 1701px) {
    .trailer-alt {
        font-size: 2.5rem;
    }

    .trailer-play-icon {
        width: 150px;
        height: 150px;
        margin-right: 1rem;
    }
}