.score-star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;

}

.score-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-category {
    font-size: 1.5rem;

    margin: 1rem 0 0.5rem 0;
}

.score-value {
    font-weight: bold;
    font-size: 4.3rem;
}

.score-stars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.star-icon {
    width: 70px;
    height: 70px;
    color: #0A7075;
}

@media (max-width: 450px) {
    .score-star-container {
        flex-direction: column;
        gap: 0.2rem;
    }

    .score-category {
        font-size: 1.2rem;
        margin: 0.7rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 3rem;
    }

    .star-icon {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .score-star-container {
        flex-direction: column;
        gap: 0.2rem;
    }

    .score-category {
        font-size: 1.5rem;
        margin: 0.7rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 3.5rem;
    }

    .star-icon {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .score-star-container {
        gap: .5rem;
    }

    .score-category {
        font-size: 1rem;
        margin: 0.5rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 2rem;
    }

    .star-icon {
        width: 40px;
        height: 40px;
    }
}

/* START OF LAYOUT CHANGE */
@media (min-width: 701px) and (max-width: 900px) {
    .score-star-container {
        gap: 1rem;
    }

    .score-category {
        font-size: 1.3rem;
        margin: 0.5rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 2.5rem;
    }

    .star-icon {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .score-star-container {
        gap: .5rem;
    }

    .score-category {
        font-size: 1rem;
        margin: 0.3rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 2rem;
    }

    .star-icon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .score-star-container {
        gap: .8rem;
    }

    .score-category {
        font-size: 1.1rem;
        margin: 1rem 0 0.2rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 2.4rem;
    }

    .star-icon {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .score-star-container {
        gap: 1rem;
    }

    .score-category {
        font-size: 1.4rem;
        margin: 1rem 0 0.5rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 2.8rem;
    }

    .star-icon {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .score-star-container {
        gap: 2rem;
    }

    .score-category {
        font-size: 1.4rem;
        margin: 1rem 0 0.5rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 3rem;
    }

    .star-icon {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1601px) and (max-width: 1700px) {
    .score-star-container {
        gap: 2rem;
    }

    .score-category {
        font-size: 1.4rem;
        margin: 1rem 0 0.5rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 3.5rem;
    }

    .star-icon {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1701px) {
    .score-star-container {
        gap: 2rem;
    }

    .score-category {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem 0;
    }

    .score-value {
        font-weight: bold;
        font-size: 4.3rem;
    }

    .star-icon {
        width: 70px;
        height: 70px;
    }
}